.footer{

    text-align: center;
    width: 100%; 
    height:150px;
    background: linear-gradient(to right,  #6d1212, #6d0a20);

    padding: 10px;

}
p{

    color: whitesmoke; 
    font-size:13px; 
    margin-top: 5px;
    font-weight: 500;
    font-family: 'Fira Code', monospace;
}
.social-media{

    display: flex; 
    justify-content: center; 
    margin:10px 10px 5px 5px; 
}
.social-media>a{

    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    margin:0 10px 0 0; 
    cursor: pointer;
    color: rgb(195, 247, 229);

}
.social-media>a:hover{

    transform: scale(1.1);

}
.con-links{

    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;
    color: whitesmoke;
}
.con-links a{

    font-size:12px; 
    font-family: 'Fira Code', monospace;
    text-decoration: none;
    color: #c4b70d;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}
.con-links a:hover{

    color:#dfd10f;
}

.copyright{

    color: whitesmoke; 
    font-size:14px; 
    margin-top: 15px;
}
.copyright h6{

    font-family: 'Fira Code', monospace;


}

/* Mobile Responsive Style */
@media only screen and (max-width: 1200px) {
    .footer{

        bottom: -873px;
    }
    
}


@media only screen and (max-width: 1000px) {

 
}


@media only screen and (max-width: 899px) {

    
}

@media only screen and (max-width: 890px) {

 
    

}


@media only screen and (max-width: 863px) {

 
}



@media only screen and (max-width: 650px) {

 
}


@media only screen and (max-width: 646px) {

   
    
}
@media only screen and (max-width: 535px) {

}


@media only screen and (max-width: 512px) {

   
    
}

@media only screen and (max-width: 490px) {

 
  
}

@media only screen and (max-width: 470px) {


 
}

@media only screen and (max-width: 432px) {

 
}

@media only screen and (max-width: 372px) {

  
}
@media only screen and (max-width: 371px) {

  
    }

 
