@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

.project-container{

    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #C4B70D;
    border-top: 0.5px solid rgb(73, 73, 73);

}
.project-container h1{

    margin-top: 30px;
    font-size: 33px;
    font-family: 'Fira Code', monospace;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.project-container h1::after{

    content: "";
    display: block;
    border-bottom: 5px solid #fa2d2d; 
    margin-top: 20px;
    width: 10%;
    border-radius: 10px;


}
.sub-container{

    position: relative;
    margin-top: 30px;
}
.view-btn{
    width: 120px;
    height: 40px;
    border: 1px solid #FF3838;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3%;
    margin-bottom: 100px;
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    color: whitesmoke;
    font-family: 'Fira Code', monospace;
    font-size: 13px;

    
}
.view-btn:hover{

    transform: scale(1.1);
    background-color: #fa2d2d;
    transition: 0.5s;
}
.row{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;


}

.card{
    background-color: #151718;
    border: 1px solid yellowgreen;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    z-index: 999;
    width: 100%;
    margin-top: 60px;
    
}
.card:hover{
    background-color: #1a1d1f;
    transition: 0.5s ease-in-out;
    box-shadow: 10px 5px 10Px rgba(104, 103, 103, 0.2);
    transform: scale(1.1);

}
.card>img{
    width: 230px;
    align-items: center;
    border-radius: 7px;
    height: 120px;
}
.card>h4{
    color: whitesmoke;
    text-align: left;
    margin-left: 5px;
    margin-top: 20px;
    font-size: 11px;
    font-family: 'Fira Code', monospace;
}
.source-btn{

    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    background-color: #FF3838;
    width: 140px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 50px;
    user-select: none;
    font-family: 'Fira Code', monospace;
    font-size: 12px;
}
.source-btn:hover{

    background-color: #9b910a ;


}

.left-btn{

    position: absolute;
    z-index: 1000;
    left: -15px;
    height: 45%;
    
}

.right-btn{
    position: absolute;
    z-index: 1000;
    right: -15px;
    height: 45%;
}
.left-btn>button{

    height: 80px;
    margin-top: 120px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    background-color:  rgba(68, 68, 70, 0.5); 
    border: none;
    color: whitesmoke;
}
.right-btn>button{
    cursor: pointer;
    height: 80px;
    margin-top: 120px;
    width: 40px;
    border-radius: 50%;
    background-color:  rgba(68, 68, 70, 0.5); 
    border: none;
    color: whitesmoke;
}
.right-btn>button:active{

    background-color: rgba(68, 68, 70, 0.5);
}



/* Mobile Responsiveness */

@media only screen and (max-width: 947px) {

    .row{

      overflow-x: hidden;
    }
 

}





@media only screen and (max-width: 740px) {

    .sub-container{

        padding: 20;
        flex-direction: row;
        flex-wrap: nowrap;
    }
 

}

@media only screen and (max-width: 500px) {

    .sub-container{

        padding: 10px;
        margin-top: 10px;
    }
    .right-btn>button{

        margin-top: 170px;

    }
    .left-btn>button{

        margin-top: 170px;

    }
   

    .project-container h1{

        font-size: 26px;
    
    }
    .project-container h1::after{

         
        width: 35%;
    
    
    }
    .card{

        margin-top: 80px;


    }
    .card>h4{
       
        font-size: 10px;
    }
    .source-btn{

        width: 130px;
        height: 30px;
        font-size: 10px;
    }
    .row{
      
        padding: 10px;
    
    }
    .view-btn{
        width: 100px;
        height: 30px;
        font-size: 10px;
        right: 0;
        margin-bottom: 100px;
        margin-top: 20px;
        
    }
    .card:hover{

        transform: scale(1);

    }

    
}
@media only screen and (max-width: 400px) {

    .card>h4{
       
        font-size: 10px;
    }
    .source-btn{

        width: 130px;
        height: 30px;
        font-size: 10px;
    }
    .row{
      
        padding: 0;
    
    }

    .sub-container{

        padding: 5px;
        padding-top: 25px;
    }
    .view-btn{
        width: 100%;
        right: 0;   
    }
}

