.project-container{

    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    color: #C4B70D;
    border-top: 0.5px solid rgb(73, 73, 73);

}
.project-container h1{

    margin-top: 40px;
    font-size: 35px;

}
.sub-container{

    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;

}

.card{
    background-color: #151718;
    flex: 1;
    border: 1px solid yellowgreen;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
.card:hover{
    background-color: #1a1d1f;
    transition: 0.2s ease-in-out;
    box-shadow: 10px 10px 15px rgba(180, 50, 78, 0.2);

}
.card>img{
    width: 100%;
    max-width: 100%;
    align-items: center;

}
.card>h4{
    color: whitesmoke;
    text-align: left;
    margin-left: 5px;
    margin-top: 20px;
    font-size: 18px;
}
.source-btn{

    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    background-color: #FF3838;
    width: 140px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 25px;
}


/* Mobile Responsiveness */

@media only screen and (max-width: 740px) {

    .sub-container{

        padding: 20;
        flex-direction: column;
        flex-wrap: nowrap;
    }

}

@media only screen and (max-width: 500px) {

    .sub-container{

        padding: 10px;
        
    }

    .project-container h1{

        font-size: 30px;
    
    }

}
@media only screen and (max-width: 400px) {

    .card>h4{
       
        font-size: 13px;
    }
    .source-btn{

        width: 130px;
        height: 30px;
        font-size: 13px;
    }
    
}

